.honk-palavraunica {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
  
.desafio1 {
    background-color: orange;
    padding: 20px;
    border: 1px solid #ccc;
}

#lista1 {
    background-color: #7f3cc2;
    padding: 20px;
    border: 1px solid #ccc;
    list-style-type:georgian;
}

#lista2 {
    background-color: #2cb335;
    padding: 20px;
    border: 1px solid #ccc;
    list-style-type: square;
}